################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OakEncoder/.vs/OakEncoder/v16
/OakEncoder/OakEncoder/bin/Debug
